#guessContainer, #letterContainer{
	width:100%;
	height:50%;
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: stretch;
	align-content: space-around;
	margin: 10px;
}

.guesses{
	flex-grow: 1;
	display:inline-block;
	font-size: 50pt;
}

.letters{
	display: flex;
	flex-wrap: wrap;
	column-gap: 5px;
	row-gap: 5px;
	font-size: 31pt;
	margin: 10px;
}

.letterBox{
	border: solid 1px;
	font-family: monospace;
	font-size: inherit;
}

.letterBox.close{
	background-color: yellow;
}

.letterBox.correct{
	background-color: green;
}

#submitButton{
	width: 30%;
	margin-left: 35%;
	font-size: 35pt;
}

.letterBox.wrong{
	background-color: #282828;
}
